.layout {
    display: flex;
    min-height: 100vh;

    flex-direction: column;
    align-items: stretch;
}

.layout__body {
    flex: 1;
}

.layout__footer {
    margin-top: var(--space-medium);
    padding: var(--space-small);

    font-size: var(--font-size-smaller);

    background-color: var(--color-grey3);
}
