:root {
    --border-radius: 8px;
    --border-radius-small: 4px;

    --font-size-smaller: 0.8em;
    --font-size-small: 0.9em;
    --font-size-normal: 1em;
    --font-size-big: 1.3em;
    --font-size-bigger: 1.6em;

    --space-smaller: 0.3rem;
    --space-small: 0.6rem;
    --space-medium: 1rem;
    --space-large: 2rem;
    --space-larger: 3rem;
}
