# Which images to pull for production deployment
VERSION=2.1.1

# Impact containers names, see
# https://docs.docker.com/compose/how-tos/environment-variables/envvars/#compose_project_name
# Be careful not to use the same for multiple stacks
COMPOSE_PROJECT_NAME=agentj

# Comment if running an external ClamAV instance
COMPOSE_PROFILES=clamav

# Leave commented for production
#COMPOSE_FILE=docker-compose.yml:compose.dev.yml

# database host and credentials
DB_HOST=db
DB_ROOT_PASSWORD=changeme
DB_NAME=agentj
DB_USER=agentj
DB_PASSWORD=changeme
DB_OPENDKIM_PASSWORD=changeme

# credentials of super admin account
SUPER_ADMIN_USERNAME=admin
SUPER_ADMIN_PASSWORD=changeme

# main hostname for application url & smtp ehlo
DOMAIN=example.com
# optionnal, use a different domain for smtp ehlo
# EHLO_DOMAIN=
# optionnal, use a different domain for app
# APP_DOMAIN=

# application locale
DEFAULT_LOCALE=fr
# application and db timezone
TZ=Europe/Paris

# To use accounts from Azure
# see https://github.com/Probesys/agentj/blob/main/docs/auth_azure.md
ENABLE_AZURE_OAUTH=false
OAUTH_AZURE_CLIENT_SECRET=changeme
OAUTH_AZURE_CLIENT_ID=changeme

# Host IP to expose app web interface
PROXY_LISTEN_ADDR=127.0.0.1
# Host port to expose app web interface
PROXY_PORT=8090
# symfony trusted_proxies
# see https://symfony.com/doc/current/deployment/proxies.html
TRUSTED_PROXIES=

# Host port to expose incoming SMTP server
#SMTP_PORT=25
# Host port to expose outgoing SMTP server
#SMTP_OUT_PORT=26
# Host IP to expose SMTP servers (incoming & outgoing)
SMTP_LISTEN_ADDR=127.0.0.1

# ClamAV server
# `clamav` if using clamav profile
# else, hostname or IP address of remote server
CLAMAV_TCPADDRESS=clamav
CLAMAV_TCPPORT=3310

# To log errors to a Sentry instance
# see https://docs.sentry.io/concepts/key-terms/dsn-explainer/
SF_SENTRY_DSN=""

# Symfony mode: dev or prod
SF_APP_ENV=prod
# Generate APP_SECRET (required for CSRF token)
# openssl rand -hex 16
SF_APP_SECRET=
# Generate token for encryption
# openssl rand -hex 8
SF_TOKEN_ENCRYPTION_IV=
# openssl rand -base64 32
SF_TOKEN_ENCRYPTION_SALT=

# Variables for dev (if using compose.dev.yml)

# expose db on the host
#DB_EXPOSED_PORT=3306
# fill with result of `id -u`
#UID=
# fill with result of `id -g`
#GID=
# to access Mailpit web interface
#MAILPIT_WEB_PORT=8025
