---

services:
  db:
    image: mariadb:11.4
    command: ["--default-authentication-plugin=mysql_native_password"]
    restart: unless-stopped
    volumes:
      - db:/var/lib/mysql
      - ./mariadb-entrypoint-initdb.d/:/docker-entrypoint-initdb.d/
    environment:
      - MYSQL_ROOT_PASSWORD=$DB_ROOT_PASSWORD
      - MYSQL_DATABASE=$DB_NAME
      - MYSQL_USER=$DB_USER
      - MYSQL_PASSWORD=$DB_PASSWORD
      - MARIADB_AUTO_UPGRADE=1
      - TZ
      - DB_OPENDKIM_PASSWORD
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized", "--mariadbupgrade"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

  amavis:
    image: probesys38/agentj_amavis:$VERSION
    build:
      context: amavis/.
    restart: unless-stopped
    environment:
      - AMAVIS_CONF=amavisd.conf
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - amavis_in:/var/lib/amavis/

  outamavis:
    image: probesys38/agentj_amavis:$VERSION
    build:
      context: amavis/.
    restart: unless-stopped
    environment:
      - AMAVIS_CONF=amavisd_out.conf
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - amavis_out:/var/lib/amavis/

  app:
    image: probesys38/agentj_app:$VERSION
    build:
      context: ./app
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - amavis
    ports:
      - $PROXY_LISTEN_ADDR:$PROXY_PORT:80
    volumes:
      - var:/var/www/agentj/var
      - files:/var/www/agentj/public/files
    healthcheck:
      test: ["CMD", "test", "-f", "/tmp/healthy.txt"]
      interval: 5s
      retries: 30

  worker:
    image: probesys38/agentj_app:$VERSION
    build:
      context: ./app
    command: "sudo -u www-data php /var/www/agentj/bin/console messenger:consume async scheduler_default --memory-limit=128M"
    entrypoint: "/entrypoint-worker.sh"
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      app:
        condition: service_healthy
    volumes:
      - var:/var/www/agentj/var
      - files:/var/www/agentj/public/files
    healthcheck:
      test: ["CMD", "test", "-f", "/tmp/healthy.txt"]
      interval: 5s
      retries: 30

  smtp:
    image: probesys38/agentj_smtp:$VERSION
    build:
      context: ./smtp/.
    restart: unless-stopped
    environment:
      - MAIL_CONFIG=/etc/postfix-in
    env_file:
      - .env
    depends_on:
      - opendkim
    volumes:
      - postqueue:/var/spool/postfix
    ports:
      - $SMTP_LISTEN_ADDR:$SMTP_PORT:25

  outsmtp:
    image: probesys38/agentj_smtp:$VERSION
    build:
      context: ./smtp/.
    restart: unless-stopped
    environment:
      - MAIL_CONFIG=/etc/postfix-out
    env_file:
      - .env
    depends_on:
      - opendkim
      - senderverifmilter
      - policyd-rate-limit
    volumes:
      - outpostqueue:/var/spool/postfix
    ports:
      - $SMTP_LISTEN_ADDR:$SMTP_OUT_PORT:25

  opendkim:
    image: probesys38/agentj_opendkim:$VERSION
    build:
      context: ./opendkim/
    restart: unless-stopped
    environment:
      - DB_USER=opendkim
      - DOMAIN
      - DB_HOST
      - DB_NAME
      - DB_OPENDKIM_PASSWORD
    depends_on:
      db:
        condition: service_healthy

  policyd-rate-limit:
    image: probesys38/agentj_policyd-rate-limit:$VERSION
    build:
      context: ./policyd-rate-limit
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./policyd-rate-limit/policyd-rate-limit.yaml:/policyd-rate-limit.yaml
    depends_on:
      db:
        condition: service_healthy

  senderverifmilter:
    image: probesys38/agentj_senderverifmilter:${VERSION}
    build:
      context: senderverifmilter/
    restart: unless-stopped
    environment:
      - DB_USER=opendkim
      - DB_HOST
      - DB_NAME
      - DB_PASSWORD=$DB_OPENDKIM_PASSWORD
    depends_on:
      db:
        condition: service_healthy

  clamav:
    image: clamav/clamav:stable
    restart: unless-stopped
    user: clamav
    entrypoint: /init-unprivileged
    profiles: [clamav]

volumes:
  amavis_out:
  amavis_in:
  db:
  postqueue:
  outpostqueue:
  var:
  files:
