{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}
   <h1>Bienvenue sur Agent J</h1>
   {% if is_granted('ROLE_ADMIN') %}
  {% include '/home/_stats.html.twig' %}
  {% endif %}
{% endblock %}
