{% extends 'base.html.twig' %}

{% block title %}{{ 'Generics.messages.welcome'|trans }} !{% endblock %}

{% block body %}
   <h1>{{ 'Generics.messages.welcomeAgentJ'|trans }}</h1>
{#   {% if is_granted('ROLE_ADMIN') %}#}
  {% include '/home/_stats.html.twig' %}
{#  {% endif %}#}
{% endblock %}
