{% extends 'base.html.twig' %}

{% block title %}{{ 'Generics.messages.welcome'|trans }} !{% endblock %}

{% block body %}
  <h1>{{ 'Generics.messages.welcomeAgentJ'|trans }}</h1>
  <div class="card my-2 pt-2">
    {% include '/home/_alerts.html.twig' %}
  </div>
  <div class="card my-2 pt-2">
    {% include '/home/_latest_messages.html.twig' %}
  </div>
  {% if is_granted('ROLE_ADMIN') %}
    <div class="card my-2 pt-2">
      {% include '/home/_stats_table.html.twig' %}
    </div>
  {% endif %}
  <div class="card my-2 pt-2">
    {% include '/home/_stats.html.twig' %}
  </div>
{% endblock %}
