###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.test
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/*
!/var/.keep
/public/files/*
!/public/files/.keep
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

.yarn/install-state.gz

/.phpunit.result.cache
/coverage
