parameters:
	ignoreErrors:
		-
			message: "#^Access to offset 'mail_id' on an unknown class App\\\\Command\\\\type\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Access to offset 'partition_tag' on an unknown class App\\\\Command\\\\type\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Access to offset 'rid' on an unknown class App\\\\Command\\\\type\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Access to offset 'secret_id' on an unknown class App\\\\Command\\\\type\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Console\\\\Application\\:\\:getKernel\\(\\)\\.$#"
			count: 4
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Call to method setSendCaptcha\\(\\) on an unknown class App\\\\Command\\\\type\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Call to sprintf contains 0 placeholders, 1 value given\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Comparison operation \"\\>\" between int\\<1, max\\> and 0 is always true\\.$#"
			count: 2
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Method App\\\\Command\\\\MsgsSendMailTokenCommand\\:\\:createAuthMessage\\(\\) has parameter \\$body with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Method App\\\\Command\\\\MsgsSendMailTokenCommand\\:\\:createAuthMessageContent\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^PHPDoc tag @param for parameter \\$message with type App\\\\Command\\\\type is not subtype of native type Symfony\\\\Component\\\\Mime\\\\Email\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Parameter \\#2 \\$msg of method App\\\\Command\\\\MsgsSendMailTokenCommand\\:\\:createAuthMessageContent\\(\\) expects App\\\\Command\\\\type, array\\<string, mixed\\> given\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Parameter \\#2 \\$replace of function str_replace expects array\\|string, App\\\\Command\\\\type given\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Parameter \\#3 \\$destEmail of method App\\\\Command\\\\MsgsSendMailTokenCommand\\:\\:createAuthMessageContent\\(\\) expects App\\\\Command\\\\type, string\\|false given\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Parameter \\#3 \\$msgrcpt of method App\\\\Command\\\\MsgsSendMailTokenCommand\\:\\:sendAuthMessage\\(\\) expects App\\\\Command\\\\type, App\\\\Entity\\\\Msgrcpt given\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Parameter \\$destEmail of method App\\\\Command\\\\MsgsSendMailTokenCommand\\:\\:createAuthMessageContent\\(\\) has invalid type App\\\\Command\\\\type\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Parameter \\$message of method App\\\\Command\\\\MsgsSendMailTokenCommand\\:\\:sendAuthMessage\\(\\) has invalid type App\\\\Command\\\\type\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Parameter \\$msg of method App\\\\Command\\\\MsgsSendMailTokenCommand\\:\\:createAuthMessageContent\\(\\) has invalid type App\\\\Command\\\\type\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Parameter \\$msgrcpt of method App\\\\Command\\\\MsgsSendMailTokenCommand\\:\\:sendAuthMessage\\(\\) has invalid type App\\\\Command\\\\type\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Property App\\\\Command\\\\MsgsSendMailTokenCommand\\:\\:\\$messageStatusAuthorized has no type specified\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Property App\\\\Command\\\\MsgsSendMailTokenCommand\\:\\:\\$messageStatusError has no type specified\\.$#"
			count: 1
			path: src/Command/MsgsSendMailTokenCommand.php

		-
			message: "#^Method App\\\\Controller\\\\ImportController\\:\\:import\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Controller/ImportController.php

		-
			message: "#^Method App\\\\Controller\\\\ImportController\\:\\:import\\(\\) has parameter \\$pathfile with no type specified\\.$#"
			count: 1
			path: src/Controller/ImportController.php

		-
			message: "#^Method App\\\\Controller\\\\ImportController\\:\\:import_alias\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Controller/ImportController.php

		-
			message: "#^Method App\\\\Controller\\\\ImportController\\:\\:import_alias\\(\\) has parameter \\$pathfile with no type specified\\.$#"
			count: 1
			path: src/Controller/ImportController.php

		-
			message: "#^Method App\\\\Controller\\\\ImportController\\:\\:index\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Controller/ImportController.php

		-
			message: "#^Method App\\\\Controller\\\\ImportController\\:\\:index_alias\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Controller/ImportController.php

		-
			message: "#^Offset mixed on array\\{\\} in isset\\(\\) does not exist\\.$#"
			count: 1
			path: src/Controller/ImportController.php
