parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Controller\\\\ImportController\\:\\:import\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Controller/ImportController.php

		-
			message: "#^Method App\\\\Controller\\\\ImportController\\:\\:import\\(\\) has parameter \\$pathfile with no type specified\\.$#"
			count: 1
			path: src/Controller/ImportController.php

		-
			message: "#^Method App\\\\Controller\\\\ImportController\\:\\:import_alias\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Controller/ImportController.php

		-
			message: "#^Method App\\\\Controller\\\\ImportController\\:\\:import_alias\\(\\) has parameter \\$pathfile with no type specified\\.$#"
			count: 1
			path: src/Controller/ImportController.php

		-
			message: "#^Method App\\\\Controller\\\\ImportController\\:\\:index\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Controller/ImportController.php

		-
			message: "#^Method App\\\\Controller\\\\ImportController\\:\\:index_alias\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Controller/ImportController.php

		-
			message: "#^Offset mixed on array\\{\\} in isset\\(\\) does not exist\\.$#"
			count: 1
			path: src/Controller/ImportController.php
