{% set searchKey = app.request.query.getString('search') %}

<form class="form-inline float-right">
    <label for="search" class="mr-2 col-form-label">{{'Generics.actions.search'|trans}}</label>
    <input type="text" class="form-control form-control input-sm" autocomplete="off" id="search" name="search"  value="{{ searchKey }}">
    <button type="submit" class="ml-1 btn btn-danger ">Ok</button>
</form>