    <div class="search-form">
      <form class="form-inline">
        <label for="notes" class="mr-2 col-form-label-sm">{{'Generics.actions.search'|trans}}</label>
        <input type="text" class="form-control form-control-sm" autocomplete="off" name="search"  value="">
        <button type="submit" class="ml-1 btn btn-primary btn-sm">Ok</button>
      </form>
    </div> 