$white: #fff;
$black: #000;

/*$brand-anthracite:   #2F3234;
$brand-gray-dark:    #CCCCCC;
$brand-gray:         #DBDBDB;
$brand-gray-light:   #F7F7F7;*/

$primary:       #6DE7DA ;
$secondary:     #4D4D4D ;
$success:       #31B1BF ;
$info:          #8D73AA ;
$warning:       #FE7D7D ;
$danger:        #e8576b ;

$bgcolor:       #E5E5E5;

$nav-width : 320px;

/*

$font-family-sans-serif:        "Roboto", 'sans-serif';
$font-family-base:              "Roboto"; // font de base*/

// $main-navbar-top-height: 95px;
// $main-navbar-sm-top-height: 95px;
// $main-navbar-xs-top-height: 95px;
//
// $main-navbar-scroll-height: 70px;
// $main-menu-height: 90px;
