    

{% if untreatedMsgs is not empty %}


  <table style="width:100%;background-color: #fff;">
    <tbody>
      {% for msg in  untreatedMsgs%}
        <tr>
          <td>
            <strong>{{ msg.from_addr }}</strong><br>
            {{ msg.subject }}
          </td>
          <td style="text-align: right;min-width: 180px;">
<a href="{{url ~ path('message_authorized',{'partitionTag':msg.partition_tag,'mailId':msg.mail_id,'rid':msg.rid})}}" 
   title="Autoriser l'expéditeur" style="font-size:16px;
                           -moz-border-radius: 5px;
                           -webkit-border-radius: 5px;
                           border-radius: 5px;
                           line-height: 16px;
                           background-color: #6DE7DA;
                           text-align: center;
                           width: 190px;
                           padding: 5px;
                           margin-right: 5px;
                           color: #fff;
                           text-decoration: none;
                           ">
  Autoriser
</a>
<a href="{{url ~  path('message_restore',{'partitionTag':msg.partition_tag,'mailId':msg.mail_id,'rid':msg.rid}) }}" title="Récupérer le mail" style="font-size:16px;   
                           -moz-border-radius: 5px;
                           -webkit-border-radius: 5px;
                           border-radius: 5px;
                           line-height: 16px;
                           background-color: #31B1BF;
                           text-align: center;
                           width: 190px;
                           padding: 5px;
                           color: #fff;
                           text-decoration: none;
                           ">
  
Récupérer</a>
            
          </td>
         
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endif %}
