@import "_variables.scss";
@import "nav.scss";

/***** BOOTSTRAP ******/


@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/print";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";

body{
  font-family: 'Poppins', sans-serif;
  background-color: $bgcolor;
}

a{
  color: $success;
}
a:hover{
  color: #E8576B;
  text-decoration: underline;
}

h2{
  font-size: 18px;
  color:$warning;
}
#topnav .navbar-brand,
#topnav li a{
  font-size: 18px;
  color: $danger;
}

#topnav li .dropdown-menu a{
  font-size: 18px;
  color: unset;
}
.page-content h2{
  background-color: #fff;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-weight: bold;
}

.page-content label{
  font-size:14px;
}
.cb {
  display: none;
}
label.for-cb {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  font-size: 16px;
  line-height: 20px;
  margin: 5px;
}
label.for-cb:before {
  line-height: 20px;
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #E8576B;
  border-radius: 3px;
}
input[type=checkbox]:checked + label.for-cb:before,
label.for-cb:hover:before {
  content: "\2713";
  color: #666666;
  text-align: center;
  line-height: 16px;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #E8576B;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #E8576B;
  border-color: #E8576B;
}
.page-link:hover {
  z-index: 2;
  color: #fff;
  text-decoration: none;
  background-color: #E8576B;
  border-color: #E8576B;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: auto;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;

}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: none;
  background: none;
}

table.dataTable thead th, table.dataTable thead td {
  border-bottom: none;
}
/*table tr td{
  text-overflow: ellipsis;
  overflow: hidden;
}*/
body.not-auth
{
  background-color: #fff;  
  background-image: url("../img/fond-login-agent-j.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

body.validate-address
{
  background-color: #fff;  
  background-image: url("../img/fond-1-agent-j-validation.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
}

body.not-auth h1, body.validate-address h1
{   
  line-height: 1.6;
}

h1{
  font-size:24px;
}
.login {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 20px;
  border:3px solid $success;
  background-color: #fff;

}  


.login img.logo{
  width:75%;
}

.btn-info {
  background-color: #6DE7DA;
}

.btn-primary {
  background-color: $success;
  border-color: $success;
}
.btn-primary:hover {
  background-color: $success;
  border-color: $success;
}
.table{
  background-color: #fff;
}

.table thead th {
  background-color: $bgcolor;
}

#topnav{
  height: 85px;
}

.bold {
  font-weight: bold;
}
.nav-item .nav-link.active {
  font-weight: bold;
}

a.navbar-brand img.logo {
  max-height: 85px;
  margin-top: -15px;
  margin-left: 50px;
}

.page-content{
  padding-top: 60px;
}

div.modal-dialog h5.card-title{
  text-align: center;
}



table div.dropdown button{
  white-space: nowrap;
}


div[id^="dropzone-"] {
  min-height: 45px;
  display: inline-block;
  width: 100%;
  border: 1px dotted #000;
}

#toast-container
{
  z-index:1021;
  top:0px;
}

.card-vars ul li {
  list-style-type: none;
  margin-bottom: 7px;
}

.admin-actions {
  border-left: 2px dashed #333;
  padding-left: 10px;
}

.search-form{
  float:right;
}

/* Jquery UI dialog */
.ui-dialog-titlebar{
  background-color: #343a40;
  color: #fff
}
.navbar-expand .navbar-nav .dropdown-menu {

  max-height: 80vh;
  overflow-y: scroll;

}
/*.dropdown-menu .dropdown-menu-right .show{

}*/

.select2-container {
  width: 100% !important;
  padding: 0;
}

@media (min-width: 768px) {
  .sidebar.toggled {
    overflow: visible;
    width: 0px !important;
  }

  body.validate-address
  {
    background-color: #fff;  
    background-image: 
      url("../img/fond-1-agent-j-validation.png"),
      url("../img/fond-2-agent-j-validation.png");
    background-position: 
      top left,
      top right;
    background-repeat: no-repeat;
    background-size: contain;
  }    

  footer.sticky-footer {
    width: calc(100% - 225px);
  }  

  body.sidebar-toggled footer.sticky-footer {
    width: calc(100% - 90px);
  } 
  .login {
    -webkit-box-shadow: 11px 10px 20px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 20px -13px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 20px -13px rgba(0,0,0,0.75);

  }     
}




@media only screen and (max-width: 890px) {


  .search-form{
    float:none;
  }


  /* Force table to not be like tables anymore */
  #no-more-tables table, 
  #no-more-tables thead, 
  #no-more-tables tbody, 
  #no-more-tables th, 
  #no-more-tables td, 
  #no-more-tables tr { 
    display: block; 
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables tr { border: 1px solid #ccc; }

  #no-more-tables td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    /*padding-left: 50%;*/ 
    white-space: normal;
    text-align:left;

  }
  #no-more-tables td:last-child { 

    text-align: center;
  }    



  #no-more-tables td:before { 
    /* Now like a table header */
    /*position: absolute;*/
    /* Top/left values mimic padding */
    /*top: 6px;*/
    /*left: 6px;*/
    /*width: 45%;*/ 
    padding-right: 10px; 
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }

  /*
  Label the data
  */
  #no-more-tables td:before { 
    display: block;
    content: attr(data-title); 
  }
}

footer.sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  width: calc(100% - 90px);
  height: 40px;
  background-color: #e9ecef;
}

footer.sticky-footer .copyright {
  line-height: 1;
  font-size: 0.8rem;
}


body.sidebar-toggled footer.sticky-footer {
  width: 100%;
}


.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 50px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: #E8576B8A;
  line-height: 46px;
  border-radius: 50%;
  padding-top: 5px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #E8576B;
}

.scroll-to-top i {
  font-weight: 800;
}