monolog:
    handlers:
        main:
            type:  rotating_file
            path:  '%kernel.logs_dir%/%kernel.environment%.log'
            level: error
            # max number of log files to keep
            # defaults to zero, which means infinite files
            max_files: 10     
            # channels: ["!event", "!security"] 
        console:
            type:   console
            process_psr_3_messages: false
            channels: ["!event", "!doctrine","!security"]