{% extends 'base_security.html.twig' %}

{% block body %}
    <div class="h-100 ">
        <div class="col-lg-4 col-md-6 col-sm-12 text-center pb-4 m-auto login">
            <div>
                <img src="{{ asset('img/agent-j-logo-desktop.svg') }}" alt="AgentJ">
            </div>

            <p>
                {{ 'Portal.Messages.restore.messageRestored' | trans }}
            </p>

            <p>
                <a class="btn btn-primary" href="{{ path('message', { type: 'restored' }) }}">
                    {{ 'Portal.Messages.restore.backToMessages' | trans }}
                </a>
            </p>
        </div>
    </div>

    <style>
        img {
            max-width: 100%;
        }
    </style>
{% endblock %}
