{% extends 'base_security.html.twig' %}

{% block body %}
    <div class="h-100 ">
        <div class="col-lg-4 col-md-6 col-sm-12 text-center pb-4 m-auto login">
            <div>
                <img src="{{ asset('img/agent-j-logo-desktop.svg') }}" alt="AgentJ">
            </div>

            <p>
                {{ 'Message.Flash.messageRestored' | trans }}
            </p>
        </div>
    </div>

    <style>
        img {
            max-width: 100%;
        }
    </style>
{% endblock %}
