.human-authentication .panel {
    margin-top: 150px;

    box-shadow: 10px 10px 10px 0 rgb(0 0 0 / 25%);
    border: 3px solid var(--color-primary8);
    border-radius: 20px;
}

@media(max-width: 500px) {
    .human-authentication .panel {
        border-right: 0;
        border-left: 0;
        border-radius: 0;
    }
}

@media(max-height: 850px) {
    .human-authentication .panel {
        margin-top: 50px;
    }
}

.human-authentication__logo {
    display: block;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
}
