when@prod:
    sentry:
        dsn: '%env(string:default::SENTRY_DSN)%'
        register_error_listener: false
        register_error_handler: false
        options:
            release: '%app.agentj-version%'
            # Add request headers, cookies, IP address and the authenticated user
            # see https://docs.sentry.io/platforms/php/data-management/data-collected/ for more info
            # send_default_pii: true
            ignore_exceptions:
                - 'Symfony\Component\ErrorHandler\Error\FatalError'
                - 'Symfony\Component\Debug\Exception\FatalErrorException'
