twig:
    default_path: '%kernel.project_dir%/templates'
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    form_themes:
          - bootstrap_4_horizontal_layout.html.twig
          - 'forms/form_layout.html.twig'
    globals:
        agentjVersion: '%app.agentj-version%'
        domain_mail_authentification_sender: '%app.domain_mail_authentification_sender%'
        oauth_enabled: '%env(bool:ENABLE_OAUTH)%'
        oauth_login_label: '%env(OAUTH_LOGIN_LABEL)%'
        azure_oauth_enabled: '%env(bool:ENABLE_AZURE_OAUTH)%'
        feature_flag_disable_sort_by_subject: '%env(bool:FEATURE_FLAG_DISABLE_SORT_BY_SUBJECT)%'
        locales:
            - fr
            - en
        per_pages: [10, 25, 50, 100, 500, 1000]

when@test:
    twig:
        strict_variables: true
