<footer class="sticky-footer w-100">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">

      <span>AgentJ {{ agentjVersion }} - Copyright © <a href="https://www.probesys.com" target="_blank">Probesys</a> {{ "now"|date('Y') }}</span>
      <span> - <i class="fab fa-github"></i> <a target="_blank" href="https://github.com/Probesys/agentj-docker"> Code source</a></span>
    </div>
  </div>
</footer>