{# Template user for displaying content in modal bootstrap#}

<div class="modal-dialog {% block modalSize %}modal-lg{% endblock %}">
    <div class="modal-content">
        <div class="modal-body">
            <h5 class="card-title">
                {% block modalTitle %}

                {% endblock %}            
            </h5>
            <div id="flash-message-modal-container" class="d-none ml-auto mb-0 mt-0 alert alert" role="alert">
                <span id="flashmessagecontent"></span>
            </div>               
            {% block modalContent %}

            {% endblock %}
        </div>
    </div>
</div>
{#<script type="text/javascript" src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>#}